#******************************
#
# Example configuration section to configure
# a log file.
#
max_log_size = 500000      # Limit the size to 500,000 characters
max_logs = 7               # Allow 7 rolling logs
log_path = .               # Assuming a relative path can be dangerous
#log_name = LogFile

# Send everything to the screen except debug and trace messages
log_screen_output_err   = 1
log_screen_output_warn  = 1
log_screen_output_info  = 1
log_screen_output_debug = 1
log_screen_output_trace = 1

# Send all messages except debug and trace to the log file.
log_file_output_err     = 1
log_file_output_warn    = 1
log_file_output_info    = 1
log_file_output_debug   = 1
log_file_output_trace   = 1

arg_names = docs, html, s, ReadFile
arg = docs
arg.${arg}.case_sensitive           = 0
arg.${arg}.arg_expects_value        = 0
arg.${arg}.allows_value             = 1
arg.${arg}.force_value_in_same_arg  = 1
arg.${arg}.method_name              =
arg.${arg}.description              = Cause docs to be automatically generated.
arg.${arg}.arg_is_file_name_to_read = 0

arg = html
arg.${arg}.case_sensitive           = 0
arg.${arg}.arg_expects_value        = 0
arg.${arg}.allows_value             = 1
arg.${arg}.force_value_in_same_arg  = 1
arg.${arg}.method_name              =
arg.${arg}.description              = Cause perltidy to be used to generate an HTML version.
arg.${arg}.arg_is_file_name_to_read = 0

arg = s
arg.${arg}.case_sensitive           = 0
arg.${arg}.arg_expects_value        = 0
arg.${arg}.allows_value             = 1
arg.${arg}.force_value_in_same_arg  = 1
arg.${arg}.method_name              = set_recursion
arg.${arg}.description              = Recursively traverse directories.
arg.${arg}.arg_is_file_name_to_read = 0

arg = ReadFile
arg.${arg}.case_sensitive           = 0
arg.${arg}.arg_expects_value        = 1
arg.${arg}.allows_value             = 1
arg.${arg}.force_value_in_same_arg  = 0
arg.${arg}.method_name              =
arg.${arg}.description              = Read arguments from the specified text file.
arg.${arg}.arg_is_file_name_to_read = 1
